table {
  border-spacing: 0;
  border: 1px solid #909090;
  display: grid;
}
table thead {
	position: sticky;
	top: 0px;
	z-index: 1;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 4px;
  border-bottom: 1px solid #909090;
  border-right: 1px solid #909090;
  position: relative;
}
table tr th {
	background-color: #eaeaea;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

table thead tr th .form-group {
	margin-bottom: 0px;
}

table thead th.fixed-width,
table tbody td.fixed-width {
	flex-grow: unset !important;
	text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
span.tag {
	color: #222222;
	margin: 2px;
	padding: 2px 6px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	float: left;
}
.community {
  background-color: #9ae3e6;
}
.path {
  background-color: #dfdfdf;
}
.path.poisoner {
	background-color: #e6dc5c;
}
.path.poisoned {
	background-color: #c89ae6;
}
.path.prepend {
	background-color: #9abbe6;
}
.path.prepend.origin-prepend {
	background-color: #ffb661;
}
input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
}